@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/* form {
  max-width: 800px;
  margin: 0 auto;
} */

label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: 200;
}

input[type="submit"] {
  background: #ffbb00;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 30px;
  padding: 10px;
  width: 200px;
  font-size: 16px;
  font-weight: 100;
}

input[type="submit"]:hover {
  background: #8b98de;
}

input[type="button"]:active,
input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

input:disabled {
  opacity: 0.4;
}

input[type="button"]:hover {
  transition: 0.3s all;
}

input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}

.question-btn {
  margin: 15
}

.write-review-container {
  background-image: url('../src/assets/review.jpeg');
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.comments {
  background-color: white;
  color: black;
  justify-content: center;
  align-items: center;
  align-content: center;
 
}

.login-container {
  background-image: url('../src/assets/hangin\ on\ bed.jpeg');
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.signup-container {
   background-image: url('../src/assets/hangin\ on\ bed.jpeg');
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}
.map-marker{
  background-image: url('./assets/map_marker.png');
  background-size: cover;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.light-mode {
  min-height: 100vh;
  background-color: #e9f6f9;
  color: #333;
  transition: background-color 0.25s ease-out;
}

.dark-mode {
  min-height: 100vh;
  background-color: #1a1919;
  color: #999;
  transition: background-color 0.25s ease-out;
}

.toggle-container {
overflow: auto;
}

.logo-text {
  text-align: center;
  color: #f8c009;
  font-weight: bold;
  font-size: 5.5em;
  font-family: "FredokaOne-Regular, Fredoka One";
}

.logo-subtitle {
  text-align: center;
  color: hsl(0, 0%, 0%);
  font-weight: normal;
  font-size: 3.5em;
  font-family: "FredokaOne-Regular, Fredoka One";
}

.signup-questionnaire {
  text-align: left;
  margin-left: 15;
}

.logo-login {
  color: #f8c009;
  font-weight: bold;
  font-size: 5.5em;
  font-family: "FredokaOne-Regular, Fredoka One";
  text-align: center;
}
.logo-signup {
  color: #f8c009;
  font-weight: bold;
  font-size: 5.5em;
  font-family: "FredokaOne-Regular, Fredoka One";
  text-align: right;
}

.invite-container {
  background-image: url('../src/assets/realisticbed.jpg');
  width: 100vw;
  height: 100vh; 
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  font-size: 2.5em;
  justify-content: center;
  align-items: center;
}

.invite-header {
  color: #f8c009;
  font-weight: bold;
  font-size: 2.5em;
  font-family: "FredokaOne-Regular, Fredoka One";
  text-align: center;
}

